body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(16, 1, 80);
  color: rgb(247, 247, 247);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.movie-li {
  background-color: rgb(85, 200, 253);
  border-radius: 20px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.director-li {
  background-color: rgb(195, 99, 214);
  border-radius: 20px;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.item-info {
  margin-top: 20px;
  background-color: rgb(177, 194, 216) !important;
  font-weight: 500 !important;
  padding: 5px;
  padding-left: 10px;
  width: 200px;
}